// Primary colors
$blue: #5156D2;
$lime: #B6E171;

// Neutral colors
$white: #FFFFFF;
$dark-blue: #24252D;
$dark-grey: #464655;

// Font families
$manrope: "Manrope", sans-serif;
$sometype: "Sometype Mono", monospace;

@mixin font-style($font-fam, $color, $size, $weight){
    font-family: $font-fam;
    color: $color;
    font-size: $size;
    font-weight: $weight
}

/* Base styles for mobile devices
 * (min-width: 320px) and (max-width: 480px) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-blue;
    min-width: 300px;
    min-height: 550px;
}

$font-size-l: clamp(2.8rem, calc(0.94rem + 9.3vw), 7rem);
$font-size-m: clamp(2rem, calc(1.11rem + 4.44vw), 4rem);
$font-size-s: clamp(1rem, calc(0.77rem + 1.1vw), 1.5rem);

nav {
    position: fixed;
    width: 100vw;
    padding: 0.5rem 1rem;
    z-index: 1000;
    background-color:rgba(36, 37, 45, 0.7);

    display: flex;
    justify-content: space-between;
    align-items: center;

    li, a {
        all: unset;
        @include font-style($manrope, $white, 0.7rem, 800);
        @media (min-width: 481px) {
            font-size: 1rem;
        }
        @media (min-width: 1024px) {
            font-size: 1.2rem;
        }
        img.logo {
            width: 2rem;
        }
        padding: 0 0.3rem;
        cursor: pointer;
    }
}

h1 {   
    @include font-style($manrope, $white, $font-size-l, 800);
}

h2 {
    @include font-style($manrope, $lime, $font-size-m, 800);
    &.portfolio {
        line-height: 1;
        &.blue {
            color: $blue;
        }

        &.grey {
            color: $dark-grey;
        }
    }
}

h3 {
    @include font-style($sometype, $lime, $font-size-s, 400);
    .bold {
        font-weight: 700;
    }
    &.hello {
        color: $blue;
        font-weight: 700;
        font-size: (calc($font-size-s + 0.5rem));
    }
}

p {
    @include font-style($sometype, $white, calc($font-size-s - 0.3rem), 400);
}

section {
    padding-top: 4rem;
    &.pages {
        margin: 0 4rem 0 4rem;
    }
}

section#home {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro"
        "title"
        "welcome";
    align-items: end;
    .intro-text {
        grid-area: intro;
        padding-left: 2rem;
    }
    .title {
        grid-area: title;
        align-self: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        
        h1 {
            line-height: 1;
            &.software {
                text-align: left;
                padding-left: 2rem;
            }
            &.dev {
                text-align: right;
                padding-right: 1rem;
            }  
        }
    }

    .welcome-text {
        grid-area: welcome;
        text-align: right;
        padding-right: 1rem;
    }
}

p#binary {
    @include font-style($sometype, $dark-grey, $font-size-m, 400);
    position: absolute;
    top: 4rem;
    right: -0.3rem;
    cursor: default;
}

img.robot {
    position: absolute;
    bottom: 0;
    left: -1.5rem;
    z-index: -1;
    width: clamp(14rem, calc(9.11rem + 24.4vw), 25rem);
}

$img-width: clamp(7.5rem, calc(2.05rem + 29vw), 16rem);

section#about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "pics" 
        "about-me" 
        "text"
        "skills";
    
    h2 {
        grid-area: about-me;
        padding-left: 1.5rem;
    }

    p {
        grid-area: text;
        line-height: 1.5;
        padding: 0.5rem 1.5rem;
    }

    .pics {
        grid-area: pics;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            ". pic-1"
            "pic-2 pic-1"
            "pic-2 pic-3"
            ". pic-3";
        padding: 0 1rem;
        gap: 0.7rem;
    }

    img {
        border-radius: 1rem;
        align-self: center;
        justify-self: start;
        &.alien {
            grid-area: pic-1;
            width: $img-width;
            
        }
        &.greece {
            grid-area: pic-2;
            width: calc($img-width + 0.5rem);
            justify-self: end;
        }
        &.fall {
            grid-area: pic-3;
            width: calc($img-width - 0.5rem);
            align-self: start;
        }
    }

    .skills-list {
        grid-area: skills;
        padding: 0.5rem 1.5rem;
        
        h2.skills {
            font-size: clamp(1.5rem, calc(0.9rem + 3.2vw), 3rem);
            color: $blue;
            padding: 0 0 1rem 0;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            li {
                $font-size-xs: clamp(0.6rem, calc(0.36rem + 1.28vw), 1.2rem);
                @include font-style($sometype, $white, $font-size-xs, 400);
                background-color: $blue;
                border-radius: 2rem;
                padding: 0.5em 0.9em;
                text-wrap: nowrap;
            }
        }
    }
}

section#projects {
    
    .fm, .proj {
        padding: 2rem;
    }

    .title {
        font-size: 2rem;
    }
}

/* Tablet styles
 * (min-width: 481px) and (max-width: 768px) */
@media only screen and (min-width: 481px) {

    img.robot {
        left: -2rem;
    }

    .title h1 {
        &.software {
            padding-left: 3rem;
        }
        &.dev {
            padding-right: 2rem;
        }
    }

    section#about {
        img {
            width: clamp(13rem, calc(7rem + 20vw), 20rem);
            padding: 0.4rem;
        }
        h2, p, .skills-list {
            padding: 0.5rem 2.5rem;
        }
    }
}

/* Laptop styles
 * (min-width: 769px) and (max-width: 1024px) */
@media only screen and (min-width: 769px) {
    p#binary {
        top: 5rem;
    }

    img.robot {
        left: 1rem;
    }

    section#home {
        .intro-text {
            padding-left: 2.5rem;
            h3.hello {
                line-height: 1.5;
            }
        }

        .title {
            h1 {
                &.software {
                    padding-left: 4rem;
                }
                &.dev {
                    padding-right: 3rem;
                }
            }
        }
    
        .welcome-text {
            padding-right: 2.5rem;
        }
    }

    section#about {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            "about-me about-me"
            "text pics"
            "text pics"
            "skills pics";
        h2, p, .skills-list {
            padding: 0 3rem;
        }
        .pics {
            display: flex;
            flex-direction: column;
            img {
                width: $img-width;
                place-self: center;
            }
        }
    }
}

/* Desktop styles
 * (min-width: 1025px) */
@media only screen and (min-width: 1025px) {
    nav {
        padding: 1rem 1.5rem;
    }

    section#home {
        .intro-text {
            padding-left: 3rem;
        }
    }

    section#about {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "pics"
            "about-me"
            "text"
            "skills";
        
        .pics {
            flex-direction: row;
            padding: 1rem 3rem;
        }
        .skills-list {
            padding-top: 1rem;
        }
    }
    
}

@media only screen and (width > 1050px) {
    nav {
        padding: 1.5rem 2rem;
    }
    
    p#binary {
        top: 6rem;
    }

    img.robot {
        left: 3rem;
    }

    section#home {
        .intro-text {
            padding-left: 4rem;
        }
    
        .title {
            align-self: center;

            h1 {
                &.software {
                    padding-left: 15%;
                }
                &.dev {
                    padding-right: 15%;
                }
            }
        }
    
        .welcome-text {
            padding-right: 3rem;
        }
    }
}